body {
    font-family: 'Ubuntu', sans-serif;
}

.bg-dark {
    background-color: #1b1c20 !important;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

.logo {
    font-family: "Sans serif";
    font-weight: bold;
    color: white;
}


.nav-link {
    color: white !important;
    font-weight: 300;
    padding: 20px 0px !important;
    margin-right: 15px;
}

.nav-link:hover {
    border-bottom: 2px solid white;
}


.principal {
    padding: 8rem 0 6rem 0;
    background-image: url("../img/imagenDevPrincipal.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    display: inline-block;
    height: 20rem;
}

.text {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 10px 0px !important;
    }

    .box {
        display: block;
        height: 12rem;
        margin-top: 1rem;
    }
    .text {
        font-size: 1rem;
    }
}




.img-profile {
    height: 250px;
    margin: 1.5rem 0;
}





@media screen and (max-width: 992px) {
    .sobre-mi .item-center {
        text-align: center;
    }
}


.mis-proyectos {
    min-height: 500px;
    color: white;
}

.proyectos-contenedor {
    margin-top: 50px;
}

.proyectos-contenedor img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    display: block;
    transition: all 0.2s ease;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 1rem;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay i {
    color: white;
    font-size: 3rem;
    margin: 20px;
}

.overlay i:hover {
    color: #198754;
}

footer p{
    color: white;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
}
@media screen and (max-width: 800px) {
    .fila {
      flex-direction: column;
    }
  
    .fila .col {
      width: auto;
      margin: 10px;
    }
  
    .contenedor-intereses {
      width: auto;
      margin: 10px;
    }
  }